# Python
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/

# Ansible
*.retry
Inventory/group_vars/switches.yml
Inventory/group_vars/usg.yml
playbooks/edge_switches_playbook.yml
notes.md

# Local runtime files
*.log
*.tmp
.env
.env.*
.vault_pass
